main, header{
    width: 960px;
    margin: auto;
    border: 1px solid #000;
}

header{
    text-align: center;
}

main{
    display: flex;
    justify-content: space-around;
}

section{
    border: 1px solid #f00;
    width: 100%;
}

.ok_message{
	color: #080;
}